<% @employees.each do |employee| %>
  <h1><a href="/employees/<%= employee.id %>"><%= employee.full_name %></a></h1>
    <p>Email: <%= employee.email %></p>
    <p>Birthday: <%= employee.friendly_birthday%></p>
<%end%>